apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: trade-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual  # Make sure this matches your PV, or omit for default
